@model DevTestProject.ViewModel.WorkItemsVm
@if (!String.IsNullOrEmpty(Model.ErrorMsg))
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @Model.ErrorMsg;
    </div>
}

<div class="row">

    @using (Html.BeginForm("SaveEditingWorkItem", "WorkItems", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        <h2>Work item editing</h2>
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project_Id, new { @class = "col-md-2 control-label" })
            <div class="col-md-10" id="">
                @Html.DropDownListFor(model => model.Project_Id, Model.ProjectsList, new { @class = "form-control", @placeholder = "Set project", id = "projectList" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Employee_Id, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Employee_Id, Model.EmployeeList, new { @class = "form-control", @placeholder = "Set employee", id = "employeeList" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateCreated, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DateCreated, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateStarted, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DateStarted, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.DateFinished, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DateFinished, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateDue, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DateDue, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-success" value="Save" />
                <input class="btn btn-primary" type="button" value="Cancel" onclick="location.href='@Url.Action("Index")';" />
            </div>

        </div>
    }

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/WorkItemAjaxRequest");