@model DevTestProject.ViewModel.ProjectsVm
    <h2>Projects</h2>

    <div class="row">
        <div class="col-md-2">
            <input class="btn btn-success" type="button" value="Create project" onclick="location.href='@Url.Action("Create", "Projects")';" />
        </div>
    </div>

    <div class="row">
        @if (!String.IsNullOrEmpty(Model.ErrorMsg))
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @Model.ErrorMsg;
            </div>
        }
        <div class="col-md-12">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Project manager</th>
                        <th scope="col">Date start</th>
                        <th scope="col">Date end</th>
                        <th scope="col">Work items in project</th>
                        <th scope="col" colspan="2">Project settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.ProjectList)
                    {
                        <tr>
                            <th scope="row">@project.Id</th>
                            <td>@project.Name</td>
                            @foreach(var employee in Model.Employees)
                            {
                                if(project.ProjectManager_Id == employee.Id)
                                {
                                    <td>@employee.FirstName @employee.LastName</td>
                                }
                            }
                            
                            <td>@project.DateStart</td>
                            <td>@project.DateDue</td>
                            <td>
                                @foreach (var workItem in Model.WorkItemsOnProject)
                                {
                                    if (workItem.Key == project.Id)
                                    {
                                        @workItem.Value
                                    }
                                }
                            </td>
                            <td>
                                <input class="btn btn-info" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", new { project_id = project.Id})';" />
                            </td>
                            <td>
                                <input class="btn btn-danger" type="button" value="Delete" onclick="location.href='@Url.Action("Delete", new { project_id = project.Id})';" />
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
