@model DevTestProject.ViewModel.ProjectCooperationsVm
<h2>Project cooperations</h2>
<div class="row">
    <div class="col-md-2">
        <input class="btn btn-success" type="button" value="Create project cooperation" onclick="location.href='@Url.Action("Create", "ProjectCooperations")';" />
    </div>
</div>

<div class="row">
    @if (!String.IsNullOrEmpty(Model.ErrorMsg))
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @Model.ErrorMsg;
        </div>
    }
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project_Id</th>
                    <th scope="col">Project name</th>
                    <th scope="col">Team_Id</th>
                    <th scope="col">Team name</th>
                    <th scope="col">DateAssigned</th>
                    <th scope="col" colspan="2">Project cooperations settings</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var projectCooperation in Model.ProjectCooperations)
                {
                    <tr>
                        <th scope="row">@projectCooperation.Id</th>
                        <td>@projectCooperation.Project_Id</td>
                        @foreach (var project in Model.AllProjects)
                        {
                            if (project.Id == projectCooperation.Project_Id)
                            {
                                <td>@project.Name</td>
                            }
                        }
                        <td>@projectCooperation.Team_Id</td>
                        @foreach (var team in Model.AllTeams)
                        {
                            if (team.Id == projectCooperation.Team_Id)
                            {
                                <td>@team.Name</td>
                            }
                        }

                        <td>@projectCooperation.DateAssigned</td>
                        <td>
                            <input class="btn btn-info" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", new { projectCooperations_id = projectCooperation.Id})';" />
                        </td>
                        <td>
                            <input class="btn btn-danger" type="button" value="Delete" onclick="location.href='@Url.Action("Delete", new { projectCooperations_id = projectCooperation.Id})';" />
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>
